
body {
    font-family: 'Poppins', sans-serif;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;    
}

.logo{
padding-left: 143.92px;
}

.nav{
    text-decoration: none;
list-style-type: none;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-right: 180px;
 padding-bottom: 5px;

}

.nav>li{
    list-style-type: none;
    margin-left: 25px;
padding-right: 5px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
}


.nav_btn-1{
background-color: #FFFFFF;
border-radius: 6px;
padding: 12px 30px;
color: #173A56;
border-width: -2px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-shadow: none;
border: 1px solid #BCD0E5;

}
.nav_btn-2{
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 6px;
    padding: 12px 30px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-shadow: none;
    margin: -20px;
    
}

.heading{
    width: 1126px;
    height: 496px;
    left: 145px;
    top: 128px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px; 
    }

.Headerimg{
    position: absolute;
    width: 500px;
    height: 390px;
padding-left: 1px;
    left: 666px;
    top: 128px;
}



.textheader{
    position: absolute;
    width: 458px;
    height: 95px;
    left: 145px;
    top: 349px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
color: #544837;
}


.button-1{
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 15px 25px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-shadow: none;
    margin-left: 90px;
    margin-top: -5px;

}

.triangle{
    padding-top: 10px;
}
.button-2{
    text-decoration-line: underline;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 15px 25px;
    color: #FF9900;
    border-width: -2px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-shadow: none;
    border: 0px solid #BCD0E5;
    margin: 20px;
}

.thedesign{
width: 518px;
text-align: start;
justify-content: flex-start;
height: 108px;
font-size: 40px;
color: #2F281E;
padding-left: 100px;
padding-top: 80px;
line-height: 54px;
}

.wrap{
    padding-left: 40px;
}

.toolstext{
width: 458px;
height: 95px;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #544837;
padding-left: 90px;
padding-bottom: 9px;
}



.container{
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-left: 145px;
    width: 1110px;
height: 574px;
top: 1397px;

}

.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card{
    padding-right: 50px;
    padding-right: 50px;
    margin-left: 570px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-shadow: none;
   
    

}

.centered{
    padding: 100px;
    justify-content: center;
    height: 108px;
left: 38.22%;
right: 37.4%;
font-weight: 700;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #2F281E;


}


.container2{
    display: flex;
justify-content: center;
justify-content: space-around;
}


.text-effortless{
width: 486px;
height: 531px;
left: 145px;
top: 1423px;
}

.Product-managers{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 1110px;
    height: 574px;
    left: 145px;
    top: 1397px;
}

.Leftside-img{
    width: 535px;
height: 521px;
left: 144px;
top: 2072px;
}

.text-rightside{
    width: 486px;
    height: 531px;
    left: 145px;
    top: 1423px;
    text-align: center;    

}

.marketers{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.marketersText{

}

.markatersImg{

}

.footer{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  border-top: 2px solid;
  border-color: #BCD0E5;
}

.footerlogo{
    padding-bottom: 30px;
    padding-left: 50px;
    
}

.footerinfo {
padding-top: 120px;
}
.footerinfo1{
    padding-top: 160px;

}


.input-btn{
    display: flex;
    flex-direction: column;
    padding-right: 160px;
    padding-top: 160px;

}